<!-- Entry details page -->

<h1><%= @entry["title"] %></h1>

<ul>
  <li><%= @entry["description"] %></li>
  <li><%= @entry["posted_on"] %></li>
</ul>

<p><a href="/places/<%= @place["id"] %>">Back to <%= @place["name"] %></a></p>