<!-- Place details page -->

<h1><%= @place["name"] %></h1>

<h3>Post</h3>

<ul>
  <% for entry in @entries %>
    <li>
      <a href="/entries/<%= entry["id"] %>">
        <%= entry["title"] %>
      </a>
      <a href="/entries/<%= entry["id"] %>">
      <%= entry["description"] %>
      </a>
    </li>
  <% end %>
</ul>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<p><a href="/places">Back to All Places</a></p>
