<!-- Place details page -->

<h1><%= @place["name"] %></h1>

<h3>Post</h3>

  <% for entry in @entries %>
    <ul>
     </li><%= entry["title"] %></li>
     <li><%= entry["description"] %></li>
     <li><%= entry["posted_on"] %></li>
    </ul>
  <% end %>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<p><a href="/places">Back to All Places</a></p>
